<!DOCTYPE html>
<html>
  <head>
    <title><%= post.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h4>Username:&nbsp <%= post.username %></h4>
    <h4>Post ID:&nbsp<%= post.postid %></h4>
    <h1><%- post.title %></h1>
    <div><%- post.body %></div>
  </body>
</html>
